@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: none;
   text-decoration: none;
   box-sizing: border-box;
 }

body{
    /*font-family: ‘cwTeXYen’, sans-serif; */
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #e6e6e6;
    /*line-height: 2;*/
    margin: 0;
    padding: 0;/**/
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}


footer{
  margin:0 0 0 240px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 5px 0px 5px 0px;
}

/*
body.dark .shadow-dark {
  -webkit-box-shadow: none;
  box-shadow: none;
}*/


.section {
  /*background-color: #303030;*/
  /*vh = viewheight*/
  min-height: 96vh;
  /*display block a box*/
  display: block;
  padding: 0 30px;
  /*position: fixed;*/
  margin-left:240px ;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  /* hide other sections */
  /*overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;*/
}


.section .container {
  padding-top: 80px; /*60px*/
  padding-bottom: 35px; /*70px*/
}

.section-title {
  -ms-flex: 0 0 100;
  flex: 0 0 100%;
  max-width: 100;
  margin-bottom: 30px; /*60px*/

}

.section-title h2 { /*About Me*/
  font-size: 40px;
  color: #656D78;/*#7ea5be;*/
  font-family: 'Rubik', sans-serif;
  /*font-weight: 700;*/
  margin: 0;
  position: relative;
}

.section-title h2::before {
  content: '';
  height: 4px;
  width: 50px;
  position: absolute;
  top: 100%;
  left: 0;
}

.section-title h2::after {
  content: '';
  height: 4px;
  width: 25px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;

}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  position: relative;
}

/* 兩條紅線 */
.blog .blog-item-inner .blog-img .blog-date, .service .service-item .service-item-inner:hover .icon, .about .about-content .timeline .timeline-item .circle-dot, .about .about-content .timeline .timeline-item::before, .about .about-content .skills .skill-item .progress .progress-in, .btn, .section-title h2::before, .section-title h2::after, .aside .nav-toggler span, .aside .nav-toggler span::before, .aside .nav-toggler span::after, .home .intro .social-links a {
  background-color: #c74141;
}

/* 強調文字 一位... */
.contact .contact-info-item .icon .fa, .blog .blog-item-inner .blog-info .blog-tags a, .lightbox .lightbox-controls .prev-item .fa, .lightbox .lightbox-controls .next-item .fa, .portfolio .portfolio-item .portfolio-info .icon .fa, body.portfolio .portfolio-filter button.button-active, .portfolio .portfolio-filter button.button-active, .service .service-item .service-item-inner .icon .fa, .about .about-content .about-text h3 span, body.aside .nav li a:hover, body.aside .nav li a.active, .aside .nav li a:hover, .aside .nav li a.active {
  color: #da8564;
}

/* RWD */
@media(max-width:1199px) {
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}
@media(max-width:944px) {
  .about .about-content .personal-info .info-item { /*個人資訊 */
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(max-width:767px) {
  .section, footer {
    margin-left: 0;
  }
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  /*.blog .blog-item,
  .service .service-item,
  .about .about-content .education,
  .about .about-content .experience,*/
  .about .about-content .skills,
  .about .about-content .personal-info {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio .portfolio-filter button {
    margin-bottom: 10px;
  }
}

@media(max-width:575px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .service .service-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about .about-content .about-li{ /*個人特色列表*/
    padding-left: 5px;
  }
}


@media(max-width:420px) {
  .about .about-content .personal-info .info-item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}